#image{
    height:600px;
    width:990px;
}

#prestige{
    margin-left:-900px;
    height:60px;
    width:150px
}

#carousel{
    margin-top:30px;
    margin-left:60px;
}

#Bellcar{
    margin-top:50px;
margin-left:400px;
        height:300px;
        width:495px;
}
